
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  background-image: url('currency-converter.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  height: 100vh;
  margin: 0;
}
h2{
  margin-top: 20%;
  font-family: 'Open Sans' , sans-serif ;
  color: white;
  font-size: clamp (1.8rem, 5vw, 5rem);
}
.same-css{
  color:white;
  box-sizing: border-box;
  height: 40px;
  outline: none;
  padding-left: 20px;
  border: 2px solid white;
  background: transparent;
}
input{
  width: 70%;
  border-radius: 10px 0px 0px 10px;
}
select{
  padding: 0px;
  width: 25%;
  border-radius: 0px 10px 10px 0px;
}
button{
  border-radius: 10px ;
}


@media only screen and (min-width: 768px) {
  input{
   width: 500px;
  }
  select{
    width: 100px;
  }
  button{
    width: 100px;
  }
  h2{
    margin-top: 5%;
}
